* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* font-size: 10px; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(25, 25, 50);
  color: white;
}